.bg-dark {
    background-color: #0099cc !important;
    margin-bottom: 0 !important;
}

button.bg-dark:hover {
    background-color: #006699!important;
}

.mb-5,
.my-5 {
    margin-bottom: 1rem!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(239, 210, 182);
    text-transform: uppercase;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #006699;
}

.navimg {
    width: 25%;
}

.navtext {
    color: white;
    display: none;
}

p {
    text-align: justify;
    font-size: 12px;
}

h4 {
    font-size: 15px;
}

.susl_img {
    display: none;
    
}

@media (min-width: 768px) {
    .susl_img {
        display: inline-block;
        width: 100%;
    }
}

.susl_logo {
    text-align: center;
}

.logo_text {
    display: flex;
    text-align: left;
    font-size: 19px;
}

@media (min-width: 768px) {
    .logo_text {
        font-size: 22px;
    }
}

.menu_text {
    display: flex;
    align-items: center;
}

.leftside {
    margin-bottom: 25px;
    font-size: 12px;
}

.footer {
    background-color: #0099cc;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.footertext {
    text-align: center;
    color: white;
}

.footerline {
    background-color: white;
    width: 90px;
}

.table {
    font-size: 12px;
}

@media (min-width: 768px) {
    p {
        font-size: 15px;
    }
    h4 {
        font-size: 18px;
    }
    .table {
        font-size: 14px;
    }
    .leftside {
        font-size: 14px;
    }
    .navtext {
        display: none;
    }
}

@media (min-width: 992px) {
    .navtext {
        display: block;
        position: absolute;
        margin-left: 164px;
        margin-top: 15px;
    }
}

.journal_img {
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, .5);
}

.journal_logo {
    width: 50%;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, .5);
}

@media (min-width: 992px) {
    .journal_img {
        width: 100%;
        box-shadow: 0 0 10px 0 rgba(50, 50, 50, .5);
    }
    .journal_logo {
        width: 100%;
        display: inline-block;
    }
}

.nav-link {
    font-size: 20px;
}

.form-control {
    background-color: transparent;
    border: 1px solid #cf9214;
    margin-right: 5px;
}

@media (min-width: 992px) {
    .form-control {
        padding-right: 162px;
    }
}

.form-control:focus {
    border-color: #feb908;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: transparent;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #0099cc;
    border: 1px solid rgba(0, 0, 0, .125);
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}

.socialmedia {
    padding-right: 0 !important;
}

.socialmedia_icon {
    float: left;
}

@media (min-width: 992px) {
    .socialmedia_icon {
        float: right;
    }
}

.list-group-item-action:hover {
    background-color: #006699;
    color: #ffffff
}

.searchform {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.breadcrumb {
    background-color: #fff;
    font-size: medium;
    padding-left: 0;
    font-size: 12px;
    padding-bottom: 0;
}

@media (min-width: 992px) {
    .breadcrumb {
        font-size: medium;
        padding-left: 0;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

.journal {
    font-family: serif;
}

.editor {
    color: #007398;
}