body {
  font-size: 15px;
  font-family: "Open Sans";
}

p {
  font-family: "Open Sans";
  font-weight: normal;
  text-align: justify;
  font-size: 15px;
  color: #151515;
}

h4 {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  p {
    font-size: 16px;
  }
  h4 {
    font-size: 20px;
  }
}

/*header bar styles start*/

/*susl image responsive style start*/
.susl_text {
  text-align: center;
  font-family: "Newsreader";
  font-size: 30px;
  font-weight: 400;
}

@media (max-width: 640px) {
  .susl_img {
    width: 133px;
    height: 73px;
  }

  .susl_text {
    padding-right: 0;
    margin-right: 0;
    display: none;
    font-weight: 400;
  }
}
@media (max-width: 768px) {
  .sujcs-logo img {
    display: inline-block;
    width: 75px;
    height: 75px;
  }

  .susl_img {
    width: 133px;
    height: 73px;
  }
  .susl_text {
    padding-right: 0;
    margin-right: 0;
    font-size: 20px !important;
    font-weight: 400;
  }
}

@media (max-width: 992px) {
  .susl_text {
    padding-right: 0;
    margin-right: 0;
    font-size: 24px;
    font-weight: 400;
  }
}

/*susl image responsive style start*/

/* susl-logo-text style start */

.logo_text {
  display: flex;
  text-align: left;
  font-size: 19px;
}

/* susl-logo-text style end */

/*header bar styles end*/

/* jurnol-image & logo style start*/

.journal_img {
  width: 50%;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
}

@media (max-width: 768px) {
  .cover {
    padding: 0;
    margin: 0;
  }

  .journal_img {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .logo_text {
    font-size: 22px;
  }

  .cover {
    padding: 0;
    margin: 0;
  }

  .journal_img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .cover-text {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .topics {
    text-align: center !important;
  }
}

.cover-text {
  padding-left: 50px;
}

.topics h4 {
  font-size: 26px;
  font-family: "Newsreader";
  font-weight: 400;
}

.topics h2 {
  font-size: 38px;
  font-family: "Newsreader";
  font-weight: 600;
}

@media (min-width: 992px) {
  .journal_img {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
  }
  .journal_logo {
    width: 100%;
    display: inline-block;
  }
}

/* jurnol-image & logo style end*/

/*socialmedia icon styles start*/

@media (max-width: 768px) {
  .icon-list {
    justify-content: center !important;
  }
}
.icon-list {
  font-size: 20px;
}

/*socialmedia icon styles end*/

/*
    #################################
        JOURNAL CONTENT SECTION
    #################################  
*/

@media (max-width: 640px) {
  #nav-tabContent {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
#nav-tabContent {
  padding-left: 35px;
}

.journal-content {
  background-color: #f9f9f9;
  min-height: 720px;
}

.list-group {
  border-radius: 0px !important;
}

.list-group-item.active {
  margin-top: 10px !important;
  z-index: 2;
  color: #fff;
  background-color: #142144;
}

.alignment {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 25px;
}

.table {
  font-size: 15px;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #225791;
  border: 1px solid rgba(0, 0, 0, 0.125);
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .table {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .list-group-item {
    text-align: center;
    font-size: 14px;
  }
  .alignment {
    justify-self: center !important;
    margin-right: auto;
    margin-left: auto;
  }
}

.list-group-item-action:hover {
  background-color: #142144;
  color: #ffffff;
}

/*
  ###########################################
      JOURNAL CONTENT SECTION ENDS FROM HERE
  ###########################################  
*/

/* Footer styles start */

.footer {
  background-color: #142144;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.footertext {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.footerline {
  background-color: white;
  width: 90px;
}

@media (max-width: 412px) {
  .footertext {
    font-size: 12px;
    font-weight: 400;
  }
}
/* Footer styles end in here */

#back-to-top-btn {
  display: inline-block;
  background-color: #757575;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 11px 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: 0.3s;
}

#back-to-top-btn i {
  color: blanchedalmond;
}

#back-to-top-btn span {
  display: none;
  font-size: 12px;
  color: blanchedalmond;
  margin: 0;
  padding: 0;
}

#back-to-top-btn:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
  height: 63px;
}
#back-to-top-btn:hover span {
  display: block;
  color: black;
  font-weight: bold;
}
#back-to-top-btn:hover i {
  color: black;
}

#back-to-top-btn:active {
  background-color: var(--theme-dark-blue);
}
#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}
