*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-nav ul{
    float: left;
    position: absolute;
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

.navbar-nav .nav-item a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}

.navbar-nav .nav-item:hover > ul{
    top: 47px;
    opacity: 1;
    visibility: visible;
    border-radius: 5px;
}

.navbar-nav ul li{
    position: relative;
    margin: 0px;
    width: 180px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.navbar-nav .nav-item a{
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 15px;
    padding: 8px 15px;
    text-align: right;
}

nav::after{
    content: "";
    clear: both;
    display: table;
}

.navbar-nav ul li a{
    line-height: 60px;
    font-size: 15px;
    padding: 2px;
    text-decoration: none;
}

.navbar-nav{
    float: right;
    list-style: none;
    margin: 12px;
    position: relative;
}



