/*header bar styles start*/

/*susl image responsive style start*/
.susl_text{
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size:30px; 
  font-weight: 400;
}


@media (max-width: 640px) {
  .susl_img {
    display: inline-block;
    width: 75px;
    height: 75px;

  }
  .sujcs-logo img{
    width: 133px;
    height: 73px;
  }
 
  .susl_text {
   
    padding-right: 0;
    margin-right: 0;
    display: none;
    font-weight: 400;
  
  }

}
@media (max-width: 730px) {
  .susl_img {
    display: inline-block;
    width: 75px;
    height: 75px;

  }
  .sujcs-logo img{
    width: 133px;
    height: 73px;
  }
 
  .susl_text {
   
    padding-right: 0;
    margin-right: 0;
    font-size: 14px !important;
    font-weight: 400;
  
  }

}
@media(max-width:960px) {
  .susl_text {
   
    padding-right: 0;
    margin-right: 0;
    font-size: 15px ;
    font-weight: 400;


   

  }
    
}
@media (max-width: 992px) {
 
  .susl_text{

    padding-right: 0;
    margin-right: 0;
    font-size: 20px ;
    font-weight: 400;

  }
 
}


/*susl image responsive style start*/

/* susl-logo-text style start */

.logo_text {
  display: flex;
  text-align: left;
  font-size: 19px;
}

/* susl-logo-text style end */

/* jurnol-image & logo style start*/

.journal_img {
  width: 50%;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
}

.journal_logo {
  width: 50%;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
}

@media (max-width: 768px) {
  .cover2{
     padding: 0;
     margin: 0;
  }

  .journal_img{
    width:50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 768px) {
  .logo_text {
    font-size: 22px;
  }
 
   .cover2{
     padding: 0;
     margin: 0;
     
   }
  
  .journal_img{
    width: 100%;
  
  }

}

@media (min-width: 992px) {
  .journal_img {
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.5);
  }
  .journal_logo {
    width: 100%;
    display: inline-block;
  }
}

/* jurnol-image & logo style end*/

/*socialmedia icon styles start*/

.socialmedia {
  padding-right: 0 !important;
}

.socialmedia_icon {
  float: left;
}

@media (min-width: 992px) {
  .socialmedia_icon {
    float: right;
  }
}

/*socialmedia icon styles end*/

/* breadcrumb styles start*/
.breadcrumb {
  background-color: #fff;
  font-size: medium;
  padding-left: 0;
  font-size: 12px;
  padding-bottom: 0;
}

@media (min-width: 992px) {
  .breadcrumb {
    font-size: medium;
    padding-left: 0;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.journal {
  font-family: serif;
}

.editor {
  color: #007398;
}
/* breadcrumb styles end*/

/* cover image new style start*/
/* .cover2 {
  background: url("./assets/cover.JPG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
/* cover image new style end*/

/*header bar styles end*/

/* Footer styles start */
.footer {
  background-color: #142144;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.footertext {
  text-align: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.footerline {
  background-color: white;
  width: 90px;
}

@media (max-width: 412px) {
  .footertext {
    font-size: 12px;
    font-weight: 400;
  }
}
/* Footer styles end in here */

#back-to-top-btn {
  display: inline-block;
  background-color:#757575;
  width: 45px;
  height: 45px;
  text-align: center;
  padding: 11px 10px;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  transition: 0.3s;
}

#back-to-top-btn i {
  color: blanchedalmond;
}

#back-to-top-btn span{
display: none;
font-size: 12px;
color: blanchedalmond;
margin: 0;
padding: 0;
}

#back-to-top-btn:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
  height: 63px;
}
#back-to-top-btn:hover span{
display: block;
color: black;
font-weight: bold;
}
#back-to-top-btn:hover i{
  color: black;
}

#back-to-top-btn:active {
  background-color: var(--theme-dark-blue);
}
#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}